altair                    
annotated-types           
anyio                     
argon2-cffi               
argon2-cffi-bindings      
attrs                     
blinker                   
cachetools                
certifi                   
cffi                      
charset-normalizer        
click                     
colorama                  
cryptography              
dnspython                 
gitdb                     
GitPython                 
h11                       
httpcore                  
httpx                     
idna                      
Jinja2                    
jsonschema               
jsonschema-specifications 
markdown-it-py            
MarkupSafe                
mdurl                     
numpy                    
opencv-python-headless           
packaging                 
pandas                    
peewee                   
pillow                    
pip                       
plotly                   
polars                    
protobuf                  
pyarrow                   
pycparser     
pydantic
pydantic_core             
pydeck                    
Pygments                  
pymongo                   
pytesseract               
python-dateutil           
pytz                      
referencing               
requests                  
rich                      
rpds-py                   
six                       
smmap                     
sniffio                   
streamlit                 
streamlit-cookies-manager 
streamlit-lottie          
streamlit-option-menu     
tenacity                  
toml                      
toolz                     
tornado                   
trycourier==4.4.0             
typing_extensions         
tzdata                    
urllib3                   
watchdog                  
